<% if @posts.present? %>
    <% @posts.each do |post| %>
        <%= link_to post, class: 'post' do %>
            <%= render partial: 'shared/post', locals: { post: post, detailed: false} %>
        <% end %>
    <% end %>
    <%= paginate @posts %>
<% else %>
    <p>記事が存在しません。</p>
<% end %>