@import url(https://fonts.googleapis.com/earlyaccess/mplus1p.css);

$themeColor: #705DA8;
$adminThemeColor: #55564B;
$headerHeight: 100px;
$headerPaddingTop: 10px;
$headerPaddingBottom: 20px;
$headerMarginBottom: 20px;
$headerPartHeight: $headerHeight + $headerPaddingTop + $headerPaddingBottom + $headerMarginBottom;
$footerHeight: 30px;
$footerMarginTop: 20px;
$footerPartHeight: $footerHeight + $footerMarginTop;
$contentPaddingTop: 10px;
$contentPaddingBottom: 10px;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Mplus 1p', sans-serif;
}

/* ===== コンテンツ ===== */
.content {
  min-height: calc(100vh - #{$contentPaddingTop} - #{$contentPaddingBottom} - #{$headerPartHeight} - #{$footerPartHeight});
  padding: $contentPaddingTop 5px $contentPaddingBottom 5px;
}

/* ===== 各画面サイズの設定 ===== */
@media (min-width: 640px) {

}

@media (min-width: 641px) and (max-width: 1039px) {

}

@media (min-width: 1040px) {
  .header_inner, .content, .footer_inner, .navigation_inner {
    margin: 0 auto;
    width: 1000px;
  }

}

/* ----- clerfix ----- */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}