$themeColor: #705DA8;
$adminThemeColor: #55564B;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: serif;
}

/* ===== コンテンツ ===== */
.content {
  min-height: calc(100vh - 140px - 100px);
  padding: 10px 5px;
}

/* ===== 各画面サイズの設定 ===== */
@media (min-width: 640px) {

}

@media (min-width: 641px) and (max-width: 1039px) {

}

@media (min-width: 1040px) {
  .header_inner, .content, .footer_inner, .navigation_inner {
    margin: 0 auto;
    width: 1000px;
  }

}

/* ----- clerfix ----- */
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}