@import 'common';

/* ----- 投稿 ----- */
div.post {
  margin: 20px 0;
  padding: 1.5rem;
  border: solid 1px #DDDDDD;

  .post_header {
    padding-bottom: 10px;
    border-bottom: dashed 1px $themeColor;

    .title {
      margin: 10px 0;
    }

    .fa-clock-o {
      color: #BBBBBB;
      margin: 0 5px;
    }

    .posted_at {
      display: inline;
    }
  }

  a.post, a.read_more {
    text-decoration: none;

    &:link, &:visited, &:active {
      color: $themeColor;
    }

    &:hover {
      opacity: 0.8;
    }
  }
  .post_body {
    margin-top: 1em;
  }
}