<% if tag_list.present? %>
  <ul class="tags">
    <% tag_list.each_with_index do |tag| %>
      <li class="tag <%= tag %>">
        <%= link_to tag , '#' %>
      </li>
    <% end %>
  </ul>
<% end %>