<% if @posts.present? %>
  <% if parameter_tag_list.present? %>
    <div class="refine_post">
      <ul class="tags">
        <% parameter_tag_list.each do |refine_tag| %>
          <li><%= link_to tags_posts_path(tag_list: (parameter_tag_list - [refine_tag])) do %>
              <span> <%= "× #{refine_tag}" %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% @posts.each do |post| %>
    <%= render partial: 'posts/post', locals: {post: post, detailed: false} %>
  <% end %>
  <%= paginate @posts %>
<% else %>
  <p>記事が存在しません。</p>
<% end %>