@import 'shared/common';

/* ===== フッター ===== */
.footer {
  background-color: $themeColor;
  margin-top: $footerMarginTop;
  position: static;
  bottom: 0;
  width: 100%;
  height: $footerHeight;
}

.footer_inner {
  color: #FFFFFF;
}