@import 'shared/common';

/* ===== ヘッダー ===== */
.header {
  background-color: $themeColor;
  margin-bottom: $headerMarginBottom;
  padding: $headerPaddingTop 0 $headerPaddingBottom 0;
  height: $headerHeight;
}

.header_inner {
  color: #FFFFFF;

  a {
    text-decoration: none;

    &:link {
      color: #FFFFFF;
    }
    &:visited {
      color: #FFFFFF;
    }
    &:hover {
      color: #FFFFFF;
    }
    &:active {
      color: #FFFFFF;
    }
  }

  p {
    margin: 0.5em
  }
}

/* ===== ブログ名 ===== */
.blog_name {
  margin: 5px 10px;
}
